@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Battambang:wght@100;300;400;700;900&family=Caveat:wght@400..700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Moul&family=Moulpali&family=Nosifer&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yuji+Mai&display=swap");
.profile-image-modern img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.profile-image-modern {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 0 auto;
}

.profile-image-modern::before {
  content: "";
  position: absolute;
  inset: -6px;
  border-radius: 50%;
  background: conic-gradient(
    #ff3e3e,
    #ff7f00,
    #ffe600,
    #3cff00,
    #00ffd5,
    #0084ff,
    #7f00ff,
    #ff00c8,
    #ff3e3e
  );
  animation: rotateGradient 4s linear infinite;
  z-index: 0;
}

.profile-image-modern img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 1px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* Animation */
@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.name {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}
