@import "../css/header.css";
@import "../css/skill.css";
@import "../css/home.css";
@import "../css//about.css";

body {
  background-color: black;
}
p {
  color: white !important;
}

.css-12eb3rq-MuiStepLabel-label.Mui-completed {
  color: rgba(255, 255, 255, 0.87) !important;
  font-weight: 500;
}
.bg-dark {
  background-color: rgba(0, 0, 0, 0.744) !important;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}
input,
textarea,
button {
  background-color: transparent !important;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}
input::placeholder {
  color: white !important;
}
textarea::placeholder {
  color: white !important;
}
.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.rain-drop {
  position: absolute;
  top: -40px;
  width: 2px;
  height: 30px;
  background: linear-gradient(transparent, #ffffff);
  opacity: 0.5;
  animation: rain-fall linear infinite;
}

@keyframes rain-fall {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(100vh);
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -99999;
}

.thunder-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  pointer-events: auto; /* អោយ mouse click ធ្វើការ */
}
